useDynLib(DOSim,OAWrapper)
export(getOffsprings,
		getAncestors,
		getParents,
		getChildren,
		filterDO,
		getGeneSim,
		getDoAnno,
		getDOGraph,
		getDoTerm,
		getMinimumSubsumer,
		getDisjCommAnc,
		getTermSim,
		DOEnrichment,
		getGIC,
		getShortestPath,
		plotCluster)
