export(getOffsprings,
		getAncestors,
		getParents,
		getChildren,
		filterDO,
		getGeneSim,
		getDoAnno,
		getDOGraph,
		getDoTerm,
		getMinimumSubsumer,
		getDisjCommAnc,
		getTermSim,
		DOEnrichment,
		getShortestPath,
		detectModule,
		viewModule,
		saveModule,
		annoModule,
		saveAnnoModule,
getDefaultBackground
		
		)
